{% extends "base.html" %}

{% block content %}
    <div class="encontro-selvagem">
        <h2 class="titulo-encontro">Você andou pelo matinho alto...</h2>
        
        <p>E de repente, um personagem selvagem apareceu!</p>
        
        <h3>Você encontrou um: <strong class="nome-encontro">{{ personagem_sorteado.nome }}</strong>!</h3>

        <img src="{{ personagem_sorteado.img }}" alt="{{ personagem_sorteado.nome }}" class="imagem-encontro">

        <br><br>
        
{#        <a href="/personagem/{{ personagem_sorteado.nome }}" class="btn-navegacao">Ver Carta Completa</a>#}
        
        <a href="/achei" class="btn-explorar">🚶‍♂️ Continuar explorando</a>
        <a href="/" class="link-voltar">🏠 Voltar para casa</a>
    </div>
{% endblock %}
