{% extends "base.html" %}

{% block content %}
    <div class="cabecalho-colecao">
        <h2 class="titulo-colecao">Sua Mochila (A Pokédex)</h2>
        <p>Clique em uma carta para ver os detalhes completos!</p>
    </div>

    <div class="grade-colecao">
        {% for pokemon in lista_pokemons %}
            <a href="/personagem/{{ pokemon.id }}" class="link-card-mochila">
                
                <div class="card mini-card card-colecao">
                    <div class="card-header">
                        <span class="name">{{ pokemon.nome }}</span>
                        <span class="hp">{{ pokemon.hp }}</span>
                    </div>
                    
                    <div class="image-box">
                        <img src="{{ pokemon.img }}" alt="{{ pokemon.nome }}" style="border-color: {{ pokemon.cor }};">
                    </div>
                    
                    <div class="description">
                        <p class="clique-aqui">🔍 Clique para expandir</p>
                    </div>
                </div>
                
            </a>
        {% endfor %}
    </div>

    <div class="rodape-colecao">
        <a href="/" class="link-voltar">⬅️ Voltar para o Início</a>
    </div>
{% endblock %}
