{% extends "base.html" %}

{% block content %}
    <div class="boas-vindas">
        <h2>Bem-vindo à Jornada! 🎒</h2>
        <p>Pegue sua mochila e prepare-se para a aventura.</p>
        
        <div class="menu-opcoes">
            <p><a href="/achei">🚶‍♂️🌿 Explorar a Rua (Encontrar Aleatório)</a></p>
            <p><a href="/cadastro">📝 Cadastrar Novo Personagem</a></p>
            <p><a href="/colecao">🗂️ Minha Coleção (A Pokédex)</a></p>
            <p><a href="/pikachu">⚡ Ver o Pikachu (Exemplo Fixo)</a></p>
        </div>
    </div>
{% endblock %}